{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script language="javascript" type="text/javascript">
        function dynamicdropdown(listindex)
        {
            switch (listindex)
            {
            case "SCIENCE" :
                document.getElementById("status").options[0]=new Option("Select Department","");
                document.getElementById("status").options[1]=new Option("Applied Geophysics","APPLIED_GEO");
                document.getElementById("status").options[2]=new Option("Biology","BIOLOGY");
                document.getElementById("status").options[3]=new Option("Biology Education","BIOEDU");
                document.getElementById("status").options[4]=new Option("Biochemistry","BIOCHEM");
                document.getElementById("status").options[5]=new Option("Biotechnology","BIOTECH");
                document.getElementById("status").options[6]=new Option("Chemistry","CHEMISTRY");
                document.getElementById("status").options[7]=new Option("Chemistry Education","CHEMISTRY_EDU");
                document.getElementById("status").options[8]=new Option("Computer Education","COMPUTER_EDU");
                document.getElementById("status").options[9]=new Option("Computer Science","COMPUTER");
                document.getElementById("status").options[10]=new Option("Industrial Chemistry","INDUSTRIAL_CHEMISTRY");
                document.getElementById("status").options[11]=new Option("Mathematics","MATHS");
                document.getElementById("status").options[12]=new Option("Mathematics Education","MATHS_EDU");
                document.getElementById("status").options[13]=new Option("Microbiology","MCB");
                document.getElementById("status").options[14]=new Option("Physics","PHYSICS");
                document.getElementById("status").options[15]=new Option("Physics Education","PHYSICS_EDU");
                document.getElementById("status").options[16]=new Option("Physics with Electronics","PHYSICS_ELECT");
                document.getElementById("status").options[17]=new Option("Political Science","POL_SCI");
                break;
            case "SMS" :
                document.getElementById("status").options[0]=new Option("Select Department","");
                document.getElementById("status").options[1]=new Option("Accounting","ACCOUNTING");
                document.getElementById("status").options[2]=new Option("Business Administration","BUSINESS_ADMIN");
                document.getElementById("status").options[3]=new Option("Economics","ECONOMICS");
                document.getElementById("status").options[4]=new Option("Finance","FINANCE");
                break;
            case "HUMANITIES" :
                document.getElementById("status").options[0]=new Option("Select Department","");
                document.getElementById("status").options[1]=new Option("English and Literary Studies","ENGLISH");
                document.getElementById("status").options[2]=new Option("French","FRENCH");
                document.getElementById("status").options[3]=new Option("History and International Studies","HISTORY");
                document.getElementById("status").options[4]=new Option("International Relations","INTER_REL");
                document.getElementById("status").options[5]=new Option("Mass Communication","MASS_COMM");
                break;
            }
            return true;
        }
        </script>
          <!-- Required meta tags -->
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
      
          <!-- Bootstrap CSS -->
          <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
      
          <title>Anchor University Lagos</title>
        </head>
        <body>
            <div class="container">
                <div class="col-md-12 p-3 text-center text-white">
                    <img class="" src="{% static 'media/logo.png' %}" alt="">
                </div>
            </div>
            
        <h1 class="text-center">Anchor University Lagos</h1>
        <h2 class="text-center mb-3">Work Study Programme</h2>
        <div class="container">
            <div class="col-md-12 my-3">
                <h6>The Work Study Programme of Anchor University is established principally to help students inculcate the concept and practice of work culture and to learn how to earn, learn, and leave legacies. Thus, every interested full-time regular undergraduate and post-graduate students of Anchor University are eligible to apply for the scheme provided the applicant is at least 18 years of age, in 200 level and above, and have a CGPA of 2.5 and above (out of a maximum of 4).  Thus, no JUPEB,  TOP-UP or part-time student is qualified to apply for this scheme.</h6>
            </div>
        </div>
        <div class="container my-3">
            <div class="col-md-12 p-3 text-center text-white bg-success">
                <span>Fill the Form correctly, all fields are important</span>
            </div>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>
        